<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Image Uploading</title> 
</head> 

<body> 
	<h1>Work Experiance certificate</h1> 
	certificate approval status is :- <%= status %> <br>
	approved by :- <%= app_data.apprBy %> <br>
	<div> 
		<div> 
            <div>
                <h2>
                letter :- <%= image.letter %> <br>
                company name id :- <%= image.company_name %><br>
                issued by :- <%= image.Issue_By %><br>
                issued on :- <%= image.Issue_Date %><br>
                </h2>
            </div>
			<div> 
				<img src="data:image/<%=image.imag_letter.contentType%>;base64, 
                    <%=image.imag_letter.data.toString('base64')%>" width="128" height="128"">  
			</div> 
		</div> 
	</div> 
</body> 

</html> 
